# .streamlit/secrets.toml

jan_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=628364737"
feb_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=1401731632"
mar_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=1118211773"
apr_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=1188557327"
may_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=208509802"
jun_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=1926839313"
jul_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=387846382"
aug_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=0"
sep_url = "https://docs.google.com/spreadsheets/d/1FLowGFChesY7br-rAeCm99GbMaJL4JWgZXuEbuYyDRI/edit#gid=2143291777"
oct_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=177382962"
nov_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=2079303700"
dec_url = "https://docs.google.com/spreadsheets/d/1O54Xqw6tNLhJGGrlfh6V_Lje0rO_xUc1h0sTfPaJoiw/edit#gid=1371047598"